.zone {
    width: 55em;
    height: 6em;
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
}

h1 {
    text-align: left;
}

.zone h2 {
    width: 10em;
    float: left;
    margin: 1em;
    clear: left;
}

.data {
    margin: 20px;
    float: left;
}

.dataname {
    margin: 2px;
    float: left;
    width: 8em;
    clear: left;
}

.dataname:after {
    content: ":";
}

.datavalue {
    float: left;
    width: 5em;
}

.datatimestamp {
    float: left;
    width: 15em;
    font-size: 70%;
}

.links {
    float: left;
    width: 7em;
    margin: 1em;
}
